/* @font-face{
    src: url('../src/fonts/Poppins/Poppins-Regular.ttf');
    font-family: "Poppins";
    src: url('../src/fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
    font-family: "Titillium";
    font-display: swap;
  }
  @font-face{
    src: url('../src/fonts/Robodron_Font/Robodron_Bold.ttf');
    font-family: 'Robodron';
    font-display: swap;
  }
  
  @font-face{
    src: url('../src/fonts/Montserrat/Montserrat-Medium.ttf');
    font-family: 'Montserrat';
    src: url('../src/fonts/Vindemia/Vindemia.ttf');
    font-family: 'Vindemia';
    src: url('../src/fonts/Montserrat/Montserrat-SemiBold.ttf');
    font-family: 'Montserrat-SemiBold';
    src: url('../src/fonts/Montserrat/Montserrat-Bold.ttf');
    font-family: 'Montserrat-Bold';
    font-display: swap;
  } */