body{
    overflow-x: hidden;
    margin: 0;
    padding: 0%;
}
.divBigAbout{
    margin: 6% 0 0 0;
    overflow-x: hidden;
}
.divImgTopAbout{
    width: 100%;
    height: 630px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}
.imageTop{
    width: 100%;
    height: 750px;
    transform: scale(1);
}
.coverTopAbout{
    position:absolute;
    z-index: 2;
    width: 100%;
    height: 630px;
    background: rgba(131, 131, 131, 0.158);
}
.coverTopAbout2{
    position:absolute;
    z-index: 2;
    width: 100%;
    height: 500px;
    background: rgba(19, 19, 19, 0.76);
}
.textInsideTop{
    position:absolute;
    z-index: 4;
    bottom: 0;
    left: 0;
    margin-bottom: 17%;
    margin-left: 7%;
    max-width: 100vw;
    overflow-y: hidden;
    display: block;
    color: rgb(245, 245, 245);
    width: 65%;
    font-family: Montserrat;
    font-size: 1.5vw;
}
.titleInsideTopAbout{
    font-size: 4vw;
    color: white;
    font-weight: 500;
    font-family: Montserrat;
}
.divQualitiesListAbout{
    width: 100%;
    padding: 5% 5% 1% 5%;
    /* background: rosybrown; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.div1stQualityAbout{
    width: 350px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin: 3% 1%;
}
.divImageQualityAbout{
    width: 100%;
    height: 400px;
    background: rgb(226, 226, 226);
    display: flex;
    overflow-y: hidden;
}
.coverImgAbout{
    position: absolute;
    width: 0;
    z-index: 1;
    background: rgba(17, 17, 17, 0);
    height: 400px;
    transition: 0.5s ease-in-out;
}
.div1stQualityAbout:hover .coverImgAbout{
    position: absolute;
    width: 350px;
    z-index: 2;
    background: rgba(17, 17, 17, 0.507);
    height: 400px;
    transition: 0.5s ease-in-out;
}
.divLegendQualityAbout{
    position: absolute;
    width: 100%;
    z-index: 3;
    margin-top:28%;
    transition: 0.5s;
    margin-left: 2%;
    font-family: Montserrat-Bold;
    transform: translateY(0%);
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);

}
.div1stQualityAbout:hover .divLegendQualityAbout{
    position: absolute;
    width: 100%;
    z-index: 3;
    transform: translateY(-50px);
    transition: 0.5s ;
}
 /* .divLegendQualityAbout:hover{
    position: absolute;
    width: 100%;
    z-index: 3;
    margin-top:20%;
    transition: 0.5s ease-in-out;
} */
.imageQualitiesAbout{
    width: 100%;
    height: 100%;
    transform: scale(1.0);
}
.firstTextAbout{
    width: 100%;
    padding: 5px 10%;
    margin: 0;
    display: block;
    align-items: center;
    text-align: center;
}
.firstTextAbout2{
    width: 100%;
    padding: 0;
    margin: 5% 0 4% 0;
    display: flex;
    align-items: center;
    text-align: center;
    height: 500px;
    background: url('../imgs/imageWebsite/pexels-pixabay-356056.jpg');
    background-attachment: fixed;
    background-size: contain;
}

.firstTextTitleAbout{
    margin: 5px 0;
    font-weight: normal;
    font-size: 2.3vw;
    font-family: Montserrat-semiBold;
    text-transform: uppercase;
}
.firstTextTitleAbout2{
    margin: 5px 0;
    font-weight: normal;
    font-size: 3vw;
    font-family: Montserrat-semiBold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.divMap{
    width: 100%;
    display: flex;
    height: 500px;
    overflow-x: hidden;
    background:rgb(71, 71, 71);
    margin: 0;
    padding-right: 5%;
    /* padding-left: 5%; */
}
.divContainWhy{
    z-index: 5;
    padding: 5px 10%;
}
.firstTextContain2{
    width: 100%;
    font-weight: 500;
    font-size: 1.3vw;
    font-family: Montserrat;
    display: flex;
    margin: 3% 0;
    color: rgb(255, 255, 255);
    text-align: center;
}
.divContainerMember{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cardMember{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.068);
    margin: 5% 20px;
    box-shadow: 0px 2px 19px 7px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentMember{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.8;
    transition: 0.5s;
}
.cardMember:hover .contentMember{
    opacity: 1;
    transform: translateY(-20px);
}
.boxImageMember{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(32, 32, 32, 0.61);
}
.imgMember{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.boxContentInfo h3{
    font-family: 'Poppins';
    color: rgb(29, 29, 29);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.boxContentInfo p{
    font-family: 'Poppins';
    color: rgb(29, 29, 29);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    line-height: 1.1em;
}
.ulSocial{
    position: absolute;
    bottom: 80px;
    display: flex;
}
.liSocial{
    list-style: none;
    margin: 0 10px;
    transform: translateY(30px);
    transition: 0.5s;
    opacity: 0;
}
.cardMember:hover .liSocial{
    transform: translateY(0px);
    opacity: 1;
}
.aSocial{
    color: rgb(26, 26, 26);
    font-size: 24px;
}