* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #395fac;
    font-family: Titillium, sans-serif;
    z-index: 100;
    overflow-x: hidden;
}

.logo {
    width: 30%;
    display: flex;
    text-align: left;
    /* background-color: aqua; */
    padding: 0 3vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    /* background-color: rgb(141, 25, 97); */
    margin: 1vh 3vh;

}

.nav-links li {
    list-style: none;
    padding-top: 1vh;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 17px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    transition: all 0.3s ease;
}
.logoHeader{
    height: 300x;
    width: 100px;
}
.li-nav-start{
    padding: 1vh 4.5vh;
    background: rgb(255, 17, 88);
    color: beige;
    transition: 0.3s ease-in;
}
.li-nav-start:hover{
    background: rgb(243, 243, 243);
    border: 1px solid rgb(255, 17, 88);
    transition: 0.3s ease-in;
}
.li-nav-start:hover a{
    color: rgb(255, 17, 88);
    transition: 0.3s ease-in;
}
@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
    body {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: fixed;
        right: -10%;
        height: 100vh;
        top: 0vh;
        background-color: #181e29f8;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 110%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        justify-content: center;
    }
    .nav-links li {
        opacity: 0;
        margin: 5vh 0vh;
    }
    .nav-links a {
        color: rgb(211, 211, 211);
    }
    
    .burger {
        display: block;
        cursor: pointer;
        right: 0%;
    }
    nav {
        max-width: 100vw;
        display: flex;
        overflow-x: hidden;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}